<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Registrarse</mat-card-title>
            <mat-card-subtitle>Ingrese sus datos.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/imagenes/register.jpg" style="width: 300px;" alt="Register">
        <mat-card-content class="cardContent">
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su nombre</mat-label>
                    <input matInput placeholder="nombre" [(ngModel)]="usuario.Nombre" required>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su apellido</mat-label>
                    <input matInput placeholder="apellido" [(ngModel)]="usuario.Apellido" required>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Sexo</mat-label>
                    <mat-select [(ngModel)]="usuario.Sexo" required>
                        <mat-option value="Masculino">
                            Masculino
                        </mat-option>
                        <mat-option value="Femenino">
                            Femenino
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su fecha de nacimiento</mat-label>
                    <input type="date" matInput placeholder="dd/mm/yyyy" [(ngModel)]="usuario.FechaDeNacimiento"
                        required>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su email</mat-label>
                    <input matInput placeholder="usuario@usuario.com" [(ngModel)]="usuario.Email" required>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su clave</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="clave">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                    </button>
                </mat-form-field>
            </div>
            <div class="inputContent" *ngIf="esProfesional()">
                <mat-form-field>
                    <mat-label>Especialidades</mat-label>
                    <mat-select [(ngModel)]="especialidadesSeleccionadas" multiple>
                        <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad">{{especialidad}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="!esAdministrador()" class="inputContent">
                <mat-form-field>
                    <mat-label>Tipo de usuario</mat-label>
                    <mat-select [(ngModel)]="usuario.Tipo">
                        <mat-option value="1">Paciente</mat-option>
                        <mat-option value="2">Profesional</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="esAdministrador()" class="inputContent">
                <mat-form-field>
                    <mat-label>Tipo de usuario</mat-label>
                    <mat-select [(ngModel)]="usuario.Tipo">
                        <mat-option value="3">Administrador</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <app-carga-imagen (imageUrl)=onImageUpload($event)></app-carga-imagen>
            <app-carga-imagen (imageUrl)=onImage2Upload($event) *ngIf="esPaciente()"></app-carga-imagen>
        </mat-card-content>
        <mat-card-actions>
            <recaptcha [formControl]="myRecaptcha" (scriptLoad)="onScriptLoad()" (scriptError)="onScriptError()">
            </recaptcha>
            <br/>
            <button (click)="register()" style="width: 75%;" mat-button>Registrarse</button>
        </mat-card-actions>
    </mat-card>
</div>