<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Registrarse</mat-card-title>
            <mat-card-subtitle>Ingrese sus datos.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/imagenes/register.jpg" style="width: 300px;" alt="Register">
        <mat-card-content class="cardContent">
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su nombre</mat-label>
                    <input matInput placeholder="example@example.com" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su apellido</mat-label>
                    <input matInput placeholder="example@example.com" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su sexo</mat-label>
                    <input matInput placeholder="example@example.com" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su fecha de nacimiento</mat-label>
                    <input matInput placeholder="example@example.com" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su email</mat-label>
                    <input matInput placeholder="example@example.com" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                    </button>
                </mat-form-field>
            </div>
            <div class="inputContent">
                <mat-form-field>
                    <mat-label>Tipo de usuario</mat-label>
                    <mat-select>
                        <mat-option value="option1">Paciente</mat-option>
                        <mat-option value="option2">Profesional</mat-option>
                        <mat-option value="option3">Administrador</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button style="width: 75%;" mat-button>Registrarse</button>
        </mat-card-actions>
    </mat-card>
</div>