<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<mat-card style="width: 40%; margin-left: 25%; margin-top: 5%; margin-bottom: 5%;" class="example-card">
    <mat-card-header>
        <mat-card-title>Encuesta</mat-card-title>
        <mat-card-subtitle>Ingrese los datos requeridos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="cardContent">
        <div class="inputContent">
            <mat-form-field appearance="fill">
                <mat-label>Ingrese su nombre</mat-label>
                <input matInput placeholder="nombre" [(ngModel)]="encuestaProfesional.NombreProfesional">
            </mat-form-field>
        </div>
        <div class="inputContent">
            <mat-form-field appearance="fill">
                <mat-label>Ingrese su apellido</mat-label>
                <input matInput placeholder="apellido" [(ngModel)]="encuestaProfesional.ApellidoProfesional">
            </mat-form-field>
        </div>
        <div class="inputContent">
            <mat-form-field appearance="fill">
                <mat-label>Nombre del paciente</mat-label>
                <input matInput placeholder="nombre" [(ngModel)]="encuestaProfesional.NombrePaciente">
            </mat-form-field>
        </div>
        <div class="inputContent">
            <mat-form-field appearance="fill">
                <mat-label>Apellido del paciente</mat-label>
                <input matInput placeholder="apellido" [(ngModel)]="encuestaProfesional.ApellidoPaciente">
            </mat-form-field>
        </div>
        <div class="inputContent">
            <mat-label>Temperatura corporal</mat-label>
            <br />
            <mat-slider [(ngModel)]="encuestaProfesional.TemperaturaCorporalPaciente" thumbLabel tickInterval="1" min="36"
                max="40">
            </mat-slider>
        </div>
        <br />
        <div class="inputContent">
            <mat-label>Altura del paciente (cm): </mat-label>
            <input [(ngModel)]="encuestaProfesional.AlturaPaciente" type="number">
        </div>
        <br />
        <div class="inputContent">

            <mat-label>Edad del paciente: </mat-label>
            <input [(ngModel)]="encuestaProfesional.EdadPaciente" type="number">
        </div>
        <div class="inputContent">
            <mat-form-field>
                <mat-label>Presion del paciente</mat-label>
                <mat-select [(ngModel)]="encuestaProfesional.PresionPaciente">
                    <mat-option *ngFor="let presion of presiones" [value]="presion">
                        {{presion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br />
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Propiedades opcionales
                </mat-panel-title>
                <mat-panel-description>
                  Agregue maximo 3 propiedades
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-form-field>
                <mat-label>Campo uno</mat-label>
                <input matInput placeholder="campo uno" [(ngModel)]="propiedades[0].campo">
              </mat-form-field>
          
              <mat-form-field>
                <mat-label>Valor uno</mat-label>
                <input matInput placeholder="valor uno" [(ngModel)]="propiedades[0].valor">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Campo dos</mat-label>
                <input matInput placeholder="campo dos" [(ngModel)]="propiedades[1].campo">
              </mat-form-field>
          
              <mat-form-field>
                <mat-label>Valor dos</mat-label>
                <input matInput placeholder="valor dos" [(ngModel)]="propiedades[1].valor">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Campo tres</mat-label>
                <input matInput placeholder="campo tres" [(ngModel)]="propiedades[2].campo">
              </mat-form-field>
          
              <mat-form-field>
                <mat-label>Valor tres</mat-label>
                <input matInput placeholder="valor tres" [(ngModel)]="propiedades[2].valor">
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
    </mat-card-content>
    <mat-card-actions *ngIf="!turno.encuestaProfesional">
        <button (click)="guardarEncuesta()" style="width: 50%; text-align: center; margin-left: 25%;" mat-button>Mandar encuesta</button>
    </mat-card-actions>
</mat-card>