<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="container">
    <div>
        <mat-form-field>
            <mat-label>Dias</mat-label>
            <mat-select [(ngModel)]="diaSeleccionado">
              <mat-option *ngFor="let dia of dias" [value]="dia">{{dia}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Horarios</mat-label>
            <mat-select [(ngModel)]="horarioSeleccionado">
              <mat-option *ngFor="let horario of horarios" [value]="horario">{{horario}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div>
        <button (click)="agregarDisponibilidad(diaSeleccionado, horarioSeleccionado)" type="button" class="btn btn-primary">Agregar Disponibilidad</button>
    </div>
    <br />
    <div>
        <button (click)="guardarDisponibilidad()" type="button" class="btn btn-primary">Guardar Disponibilidad</button>
    </div>
</div>